
body
{

    background-color: lightskyblue;
    background-color: rgb(105, 219, 166);
}
.Cuadrado 
{
    width: 250px;
    height: 100px;

    background-color:rgb(196, 245, 122);
    border-radius: 10%;
    display: inline-block;
    margin: 10px;

    align-content: center;
    text-align: center;

}   
.circulo
{
    width: 470px;
    height: 116px;

    background-color:rgb(8, 133, 120);
    border-radius: 10%;
    display: inline-block;
    margin: 10px;

    align-content: center;
    text-align: center;
}
#FuenteNegritas
{
    font-family: "Fuente Diego";
}
#FuentePrecursive
{
    font-family: "Fuente Ruben";
}
#FuenteLetras
{
    font-family: "Fuente Jorge";
}
@font-face
{
    font-family: "Fuente Diego";

    src: url("../Statics/BebasNeue-Regular.ttf");
}
@font-face
{
    font-family: "Fuente Ruben";
    src: url("../Statics/EduVICWANTHandPre-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Fuente Jorge";
    src: url(../Statics/SourGummy-VariableFont_wdth\,wght.ttf) format(truetype);
}

.encabezado {
    background-color: #5e81ac;
    border-radius: 5px;

    align-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.equipo {
    background-color: #000000;
    border: 5px solid #000000;
    border-radius: 3px;
    color: #ffffff;
    font-family:"miFuente", sans-serif;
    font-size: medium;
}
.creditos {
    width: 500px;
    height: 97px;

    background-color: #5eac6b;
    border-style: solid;
    border-color: #5eac6b;
    border-radius: 40%;

    align-content: center;
    text-align: center;
    font-family: "miFuente", sans-serif;
}




